
<h1> {{title}} </h1>
@if (products.length > 0) {
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @for (product of products; track $index) {
                <tr>
                    <td> {{$index + 1}} </td>
                    <td> {{product.name}} </td>
                    <td> {{product.description}} </td>
                    <td> {{product.price}} </td>
                </tr>
            }
        </tbody>
    </table>
}@else {
    <div class="prod-vacio">
        No hay productos en la lista!
    </div>
}